#featured_community {
    clear: left;
    margin-bottom: 5px;
    height: 62px;
}

#featured_community_pic {
    width: 82px;
    height: 62px;
    float: left;
}

#featured_community_img {
    width: 82px;
    height: 62px;
}

#featured_community_info {
    margin-left: 86px;

}
