#gNavDiv {
    height: 28px;
    text-align: right;
}

#upload {
    width: 220px;
    float: right;
}

#go_icon {
    height: 24px; width: 24px;
    float: right;
}

#upload_text {
    float: right;
    font-size: 14px;
    padding-left: 5px;
    padding-top: 5px;
    font-weight: bold;
    margin: 0;
    color: #0033CC;
    text-decoration: underline;
}

.tab {
    float: right;
    width: 124px;
    height: 28px;
    text-align: center;
}

.tab_content {
    height: 26px;
    width: 118px;
    float: right;
    background-image: linear-gradient(to top, rgb(173, 187, 224) 10%, white);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid rgb(154, 166, 194);
}

.tab_text {
    color: #003399;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding-top: 5px;
    text-shadow: 0px 1px 0 white;
}

#gNavBottom {
    height: 24px;
    background-image: linear-gradient(rgb(206, 206, 206), white);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 6px;
}
