#popular_mobile {
    margin-bottom: 15px;
    border-radius: 6px;
    text-align: left;
    overflow: hidden;
    background-color: #EBEDF3;
}

#popular_mobile_content {
    padding: 6px 6px 0px 6px;
    margin-bottom: 0px;
}

#popular_mobile_header {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}

#popular_mobile_more {
    font-size: 11px;
    float: left;
    margin-bottom: 12px;
    margin-left: 25px;
    margin-top: 7px;
}
