#site_updates {
    height: 95px;
    margin-bottom: 15px;
    background-color: #EBEDF3;
    border-radius: 7px;
    text-align: left;
}

#site_updates_content {
    padding: 6px 6px 0px 6px;
    margin-bottom: 0px;
}

#site_updates_title {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
    text-align: left;
}

#site_updates_image {
    float: left;
    width: 30px;
    height: 37px;
    margin-bottom: 12px;
}

#testtube_img {
    margin-bottom: 12px;
}

#site_updates_desc {
    margin-left: 36px;
    margin-bottom: 12px;
}

#site_updates_desc_text {
    margin-bottom: 10px;
    text-align: left;
}
