#featured_channel {
    float: left;
    padding: 3px;
    height: 60px;
    width: 138px;
    margin-bottom: 15px;
}

#featured_channel_content {
    float: left;
    text-align: left;
    width: 138px;
}

#featured_channel_name {
    margin-bottom: 3px;
}

#featured_channel_avatar {
    width: 45px;
    height: 45px;
    overflow: hidden;
    float: left;
}

#featured_channel_image {
    width: 45px;
    height: 45px;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

#featured_channel_data {
    font-size: 10px;
    padding-left: 3px;
    float: left;
}

.featured_channel_data_insert {
    padding-bottom: 1px;
}

.grayText {
    color: #666;
}
