#popular_video {
    clear: left;
    margin-bottom: 5px;
    height: 62px;
}

#popular_video_pic {
    width: 82px;
    height: 62px;
    float: left;
}

#popular_video_img {
    width: 82px;
    height: 62px;
}

#popular_video_info {
    margin-left: 86px;
}

#popular_video_details {
    font-size: 11px;
}
