#featured_channels {
    margin-bottom: 15px;
    border-radius: 6px;
    text-align: left;
    overflow: hidden;
    background-color: #EBEDF3;
}

#featured_channels_content {
    padding: 6px 6px 0px 6px;
    margin-bottom: 0px;
}

#featured_channels_header {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}

#featured_channels_more {
    text-align: right;
    font-size: 11px;
    padding-bottom: 5px;
}
