#hpAccountLinksDiv {
    width: 300px;
    height: 28px;
    font-size: 11px;
    margin-bottom: 10px;
    background-image: linear-gradient(to top, rgb(173, 187, 224) 10%, white);
    border-radius: 8px;
    border: 1px solid rgb(154, 166, 194);
}

.account_links_main_text {
    color: #003399;
    margin-top: 0; margin-bottom: 0; margin-right: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 29px;
    text-shadow: 0px 1px 0 white;
    text-align: left;
}

.account_link {
    margin: 0;
    color: #03C;
}
