body {
  margin: 0;
  font-family: 'Arial', 'Helvetica', 'sans-serif';
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#baseDiv {
  width: 875px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

