#blog_note {
    margin-bottom: 15px;
    border-radius: 7px;
    overflow:hidden;
    text-align: left;
}

#blog_note_content {
    background-color: #FBF9E8;
    padding: 6px 6px 0px 6px;
    margin-bottom: 0px;
}

#blog_note_header {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
    text-align: left;
}

#blog_note_subheader {
    padding-bottom: 3px;
    text-align: left;
}

#blog_note_more {
    font-size: 11px;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 5px;
}
