#member_login {
    margin-bottom: 15px;
}

#member_login_tab {
    height: 23px;
    background-color: #CCC;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#member_login_text {
    float: left;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin-left: 6px;
}

#member_login_table_div {
    padding: 6px;
    border: 1px solid #CCC;
}

#member_login_signup {
    float: right;
}

#member_login_forgot {
    font-size: 11px;
    padding-top: 10px;
    margin-left: -20px;
}

#member_login_btn {
    text-align: left;
    margin-left: -82px;
}
